<header>
  <a
    class="logo"
    routerLink="/lista-livros"
    routerLinkActive="active-page"
    ariaCurrentWhenActive="page"
    aria-label="Página Inicial"
    >
    <img
      src="assets/imagens/logo.png"
      alt="Logo da aplicação Buscante">
  </a>
  <nav>
    <a
      routerLink="/sobre"
      routerLinkActive="active-page"
      aria-label="Mais Informações sobre buscante"
      >
      Sobre
    </a>
    <a
      routerLink="/contato"
      routerLinkActive="active-page"
      aria-label="Entre em Contato"
    >
      Contato
    </a>
  </nav>
</header>

